<% provide(:title, "Editar cliente") %>
<h1>Actualizar cliente</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@cliente) do |f| %>
      <%= render 'shared/error_messages_clientes' %>

      <%= f.label :idnumber %>
      <%= f.text_field :idnumber %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :lastname %>
      <%= f.text_field :lastname %>

      <%= f.label :age %>
      <%= f.number_field :age %>

      <%= f.label :email  %>
      <%= f.text_field :email %>
      <%= f.submit "Guardar", class: "btn btn-large btn-primary" %>
    <% end %>

    <%= gravatar_for @client %>
    <a href="http://gravatar.com/emails">change</a>
  </div>
</div>