<% provide(:title, @client.name) %>
<h1>Información del cliente</h1>
<br>
<br>

<div class="row">
  <aside class="span8">
    <section>
      <h1>
        <%= gravatar_for @client %>
        <br>
        <%= @client.name+" "+@client.lastname %>
      </h1>
      <em><%= @client.email %><em>
      <br>
      <br>
      <span class="label label-warning">Usuario</span>
  	</section>
  	<br>
  	<br>

    
  </aside>
  <aside class="span6" >
  	<section>
  		<div class="panel panel-default">
  			<div class="panel-heading">
    			<h2 class="panel-title">Identificación</h2>
  			</div>
  			<div class="panel-body">
    			<%= @client.idnumber %>
  			</div>
		</div>
  	</section>
  	<section>
  		<div class="panel panel-default">
  			<div class="panel-heading">
    			<h2 class="panel-title">Edad</h2>
  			</div>
  			<div class="panel-body">
    			<%= @client.age %>
  			</div>
		</div>
  	</section>
  	<section>
  		<div class="panel panel-default">
  			<div class="panel-heading">
    			<h2 class="panel-title">Teléfono</h2>
  			</div>
  			<div class="panel-body">
    			<%= @client.phone_number %>
  			</div>
		</div>
  	</section>
  	
  </aside>
   <aside class="span6" >
  	<section>
  		<div>
  			<div class="panel-heading">
    			<h2 class="panel-title">Dirección</h2>
  			</div>
  			<div class="panel-body">
    			<%= @client.address %>
  			</div>
		</div>
  	</section>
  	<section>
  		<div class="panel panel-default">
  			<div class="panel-heading">
    			<h2 class="panel-title">Ocupación</h2>
  			</div>
  			<div class="panel-body">
    			<%= @client.occupation %>
  			</div>
		</div>
  	</section>
  	<section>
  		<div class="panel panel-default">
  			<div class="panel-heading">
    			<h2 class="panel-title">Estrato</h2>
  			</div>
  			<div class="panel-body">
    			<%= @client.estrato %>
  			</div>
		</div>
  	</section>
  	
  </aside>
</div>
<br>
<br>
<br>
<br>
<div class="span5" style="text-align:center" >
  
  <table class="table-bordered">
    <caption><strong>Solicitudes generadas</strong></caption>
    <tr>
      <th>
      Solicitud Nº
      </th>
      <th>
       Solicitada a
     </th>
     <th>
        Resumen
      </th>      
    </tr>   
    <% if @client.requests.any? %>   
      <% @client.requests.each do |r| %>
      <tr>
        <td>
          <%= link_to r.id, request_path(r) %>
        </td>
        <td>
          <%= link_to "#{r.requested.name} #{r.requested.lastname}", client_path(r.requested) %>
        </td>
        <td>
          <%= r.details %>
        </td>
          
      </tr>
        
      <% end %>
    <% else %>
    <tr>
      <td colspan=3>
        <h2>Ninguna</h2>
        
      </td>
    </tr>
    <% end %>

  </table>


</div>

<div class="span5" style="text-align:center;display:inline-block">
  
  <table class="table-bordered">
    <caption><strong>Solicitudes en contra</strong></caption>
    <tr>
      <th>
      Solicitud Nº
      </th>
      <th>
       Solicitado por
     </th>
     <th>
        Resumen
      </th>      
    </tr>
    <% if @client.requests_against.any? %>   
      <% @client.requests_against.each do |r| %>
      <tr>
        <td>
          <%= link_to r.id, request_path(r) %>
        </td>
        <td>
          <%= link_to "#{r.requester.name} #{r.requester.lastname}", client_path(r.requester) %>
        </td>
        <td>
          <%= r.details %>
        </td>
          
      </tr>
        
      <% end %>
    <% else %>
    <tr>
      <td colspan=3>
        <h2>Ninguna</h2>
        
      </td>
    </tr>
    <% end %>

  </table>
  


</div>
