<% provide(:title, 'Nueva solicitud') %>
<h1>Nueva solicitud</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for @request, :url => requests_path, :html => { :multipart => true } do |f| %>
     <%= render 'shared/error_messages_requests' %>

      <%= f.label :requester_id, 'Solicitante' %>
      <%= f.collection_select :requester_id, Client.order(:lastname),:id,:name_with_initial, prompt: "Seleccione un cliente..." %>


      <%= f.label :requested_id, 'Solicitado' %>
      <%= f.collection_select :requested_id, Client.order(:id),:id,:name_with_initial, prompt: "Seleccione un cliente..." %>

      <%= f.label :details, 'Detalles' %>
      <%= f.text_area :details %>

      <%= f.label :pleas, 'Peticiones' %>
      <%= f.text_area :pleas %>

      <%= f.label :appendices, 'Anexos' %>
      <%= f.file_field :appendices %>

      <%= f.label :proofs, 'Pruebas' %>
      <%= f.file_field :proofs %>



     
      <%= f.submit "Crear solicitud", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>