<% provide(:title, 'Solicitud Nº '+@request.id.to_s) %>

<h1>Información de la Solicitud</h1>

<div class="container" style="padding-top:40px">
	<div> 

		<h3> Solicitud Nº <%= @request.id %> </h3>
		<div style="text-align:right"><%= @request.created_at.strftime("%d/%m/%Y") %></div>
		<hr>
		<br>
		

		<div class="span3 offset3 panel panel-success">
			<div class="panel-heading">
				<h2 class="panel-title">Solicitante </h2>
			</div>
			<div class="panel-body" style="text-align:center">
				<h3 style="text-align:center"><%= link_to "#{@request.requester.name} #{@request.requester.lastname}", client_path(@request.requester)%></h3>
				
				<span><%= @request.requester.idnumber %></span>
			</div>
		</div>
		
		<div class="span3 panel panel-warning">
			<div class="panel-heading">
				<h2 class="panel-title">Solicitado</h2>
			</div>
			<div class="panel-body" style="text-align:center">
				<h3 style="text-align:center"><%= link_to "#{@request.requested.name} #{@request.requested.lastname}", client_path(@request.requested) %></h3>
				<span><%= @request.requester.idnumber %></span>
			</div>		

		</div>
		

	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<hr>
	<br>

	

	<dl class="dl-horizontal">

	  		<dt>Hechos:</dt>
	  		<dd>
	  			<div>
	  				<textarea disabled rows = "10" readonly style="resize:none;owerflow-y:scroll"><%= @request.details %></textarea>
	  			</div>
	  			
	  		</dd>
	</dl>

	<br>

	<dl class="dl-horizontal">

	  		<dt>Peticiones:</dt>
	  		<dd>
	  			<div>
	  				<textarea disabled rows = "10" readonly style="resize:none;owerflow-y:scroll"><%= @request.pleas %></textarea>
	  			</div>
	  			
	  		</dd>
	</dl>

	<hr>

	<div class="span3 offset3">
		<% if @request.appendices.url != "/appendices/original/missing.png" %>
			<%= link_to "Anexos", @request.appendices.url(:original,false) %>
		<% else %>
			<strong>No se agregaron anexos</strong>
		<% end %>
	</div>

	<div class="span3">
		<% if @request.appendices.url != "/appendices/original/missing.png" %>
			<%= link_to "Pruebas", @request.proofs.url(:original,false) %>
		<% else %>
			<strong>No se agregaron pruebas</strong>
		<% end %>
	</div>
	
	

	
	
</div>